<a href="#!/home"><p class="title">KCL Guitar Society</p></a>

<div class="row underline" id="bookHeader">

    <div class="col-xs-2">

        <span ng-click="$ctrl.prevMonth($ctrl.month)" class="glyphicon glyphicon-menu-left prevMonth extraLeft" aria-hidden="true"></span>
        <span ng-click="$ctrl.prevMonth($ctrl.month)" class="glyphicon glyphicon-menu-left prevMonth" aria-hidden="true"></span>

    </div>

    <div class="col-xs-8 calenderHeader">

        <span>{{$ctrl.month + ' ' + $ctrl.year}}</span>

    </div>

    <div class="col-xs-2">

        <span ng-click="$ctrl.nextMonth($ctrl.month)" class="glyphicon glyphicon-menu-right nextMonth extraRight" aria-hidden="true"></span>
        <span ng-click="$ctrl.nextMonth($ctrl.month)" class="glyphicon glyphicon-menu-right nextMonth" aria-hidden="true"></span>

    </div>
</div>

<div class="row calendarRow">

    <div class="col-xs-1 dayName" ng-repeat="day in $ctrl.weekdays">
        
        {{day}}
        
    </div>

</div>

<div class="row calendarRow">
    
    <div class="col-xs-1 day" ng-repeat="i in $ctrl.getNumber($ctrl.paddingMonth) track by $index">
                
    </div>

    <div class="col-xs-1 day" ng-repeat="day in $ctrl.finalMonth">
                
        <div class="row">
        
            <div class="col-xs-12">
            
                    {{day[0]}}
            
            </div>
        
        </div>
        
        <div class="row">
        
            <div class="col-xs-12 times" ng-repeat="lesson in day[1]">
            
                {{lesson.TeacherName + ': ' + lesson.niceDateS + ' - ' + lesson.niceDateE}}
                
            </div>
        
        </div>
                
    </div>

</div>