<div class="row">

    <div class="col-xs-11">
    
        <a href="#!/home"><p class="title">KCL Guitar Society</p></a>
        
    </div>
    
    <div class="col-xs-1">
    
        <a href="#!/addLesson"><span class="glyphicon glyphicon-plus addLesson"></span></a>
        
    </div>

</div>

<div class="row underline" id="bookHeader">

    <div class="col-xs-2">

        <span ng-click="$ctrl.prevMonth($ctrl.month)" class="glyphicon glyphicon-menu-left prevMonth extraLeft" aria-hidden="true"></span>
        <span ng-click="$ctrl.prevMonth($ctrl.month)" class="glyphicon glyphicon-menu-left prevMonth" aria-hidden="true"></span>

    </div>

    <div class="col-xs-8 calenderHeader">

        <span>{{$ctrl.month + ' ' + $ctrl.year}}</span>

    </div>

    <div class="col-xs-2">

        <span ng-click="$ctrl.nextMonth($ctrl.month)" class="glyphicon glyphicon-menu-right nextMonth extraRight" aria-hidden="true"></span>
        <span ng-click="$ctrl.nextMonth($ctrl.month)" class="glyphicon glyphicon-menu-right nextMonth" aria-hidden="true"></span>

    </div>
</div>

<div class="row calendarRow">

    <div class="col-xs-1 dayName" ng-repeat="day in $ctrl.weekdays">
        
        {{day}}
        
    </div>

</div>

<div class="row calendarRow">
    
    <div class="col-xs-1 day" ng-repeat="i in $ctrl.getNumber($ctrl.paddingMonth) track by $index" ng-cloak>
                
    </div>

    <div class="col-xs-1 dayInMonth" ng-repeat="day in $ctrl.finalMonth" ng-click="$ctrl.open(day[0])" ng-cloak>
                
        <div class="row">
        
            <div class="col-xs-12" ng-cloak>
            
                    {{day[0]}}
            
            </div>
        
        </div>
        
        <div class="row">
        
            <div ng-if="lesson.Available == 1" class="col-xs-12 times" ng-repeat="lesson in day[1]" ng-cloak>
            
                {{lesson.TeacherName + ': ' + lesson.niceDateS + ' - ' + lesson.niceDateE}}
                
            </div>
        
        </div>
                
    </div>

</div>