<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="../img/KCLGSLogo.png" id="navLogo" alt="King's College London Logo" style="width: 72px; height: 72px; margin: -5px 15px 0px -5px;">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand verticalAlign" href="#home">KCL Guitar Society</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#aboutUs" class="navbarOptions">About Us</a></li>
                    <li><a href="#bookALesson" class="navbarOptions">Book A Lesson</a></li>
                    <li><a href="#contactUs" class="navbarOptions">Contact Us</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="yourLessonsNav"><a data-target="#" href="#!/yourLessons" class="navbarOptions">Your Lessons</a></li>
                    <li id="signInNav" ng-if="!$ctrl.loggedIn"><a data-target="#" href="#!/signIn" class="navbarOptions">Sign In</a></li>
                    <li id="signInNav" ng-if="$ctrl.loggedIn"><a data-target="#" ng-click="$ctrl.logout()" class="navbarOptions">Sign Out</a></li>

                </ul>
            </div>
        </div>
    </div>
</nav>

<div id="homeBody" data-spy="scroll" data-target=".navbar" data-offset="50">

    <div id="home">

    </div>

    <div id="aboutUs">

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

    </div>

    <div id="bookALesson">



    </div>

    <div id="contactUs">



    </div>

</div>