<div class="row">

    <div class="col-xs-12">

        <a href="#!/home">
            <p class="addTitle">KCL Guitar Society</p>
        </a>

    </div>

</div>

<div class="row">

    <div class="col-xs-12">

        <div class="row">

            <div class="col-xs 12">

                <div class="formTitle">

                    Sign In

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs 12">

                <div class="addForm">

                    <label class="inputTitle">User ID:</label>
                    <label id="userIdAlert"></label>
                    <div class="input-group input-group-lg" style="width: 100%;">
                        <input ng-model="$ctrl.inUserId" type="email" id="userId" class="form-control" placeholder="name@example.com" aria-describedby="User ID">
                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs 12">

                <div class="addForm">

                    <label class="inputTitle">Password:</label>
                    <label id="passwordAlert"></label>
                    <div class="input-group input-group-lg" style="width: 100%;">
                        <input ng-model="$ctrl.inPassword" type="password" id="password" class="form-control" placeholder="Enter password" aria-describedby="Password Field">
                    </div>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="rememberMe">

                    <button id="signInButton" ng-click="$ctrl.signIn()" class="btn btn-default hvr-bounce-to-top-signIn">Sign In</button>

                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-6" id="cAAButton">

                <a href="#!/createAccount"><button id="signInButton" class="btn btn-default hvr-bounce-to-right-signIn" style="width:240.2px">Create an account</button></a>

            </div>

            <div class="col-xs-6" id="fYPButton">

                <a href="#!/forgotPassword">
                    <button id="signInButton" class="btn btn-default hvr-bounce-to-left-signIn">Forgot your password?</button>
                </a>

            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">

                <div class="rememberMe">

                    <span id="signin-message-alert"></span>

                </div>

            </div>

        </div>

    </div>

</div>
