<div class="row">


        <a href="#!/home">
            <p class="addTitle">KCL Guitar Society</p>
        </a>


</div>


        <div class="row">

                <div class="formTitle">

                    Sign In

                </div>

        </div>

        <div class="row">


                <div class="addForm">

                    <label class="inputTitle">User ID:</label>
                    <label id="userIdAlert"></label>
                    <div class="input-group input-group-lg" style="width: 100%;">
                        <input ng-model="$ctrl.inUserId" type="email" id="userId" class="form-control" placeholder="name@example.com" aria-describedby="User ID">
                    </div>

                </div>


        </div>

        <div class="row">


                <div class="addForm">

                    <label class="inputTitle">Password:</label>
                    <label id="passwordAlert"></label>
                    <div class="input-group input-group-lg" style="width: 100%;">
                        <input ng-model="$ctrl.inPassword" type="password" id="password" class="form-control" placeholder="Enter password" aria-describedby="Password Field">
                    </div>

                </div>

        </div>

        <div class="row">

                <div class="rememberMe">

                    <button id="signInButton" ng-click="$ctrl.signIn()" class="btn btn-default hvr-bounce-to-top-signIn">Sign In</button>

                </div>

        </div>

        <div class="row" id="moreSignInBtns">

                <a href="#!/createAccount" id="cNABtnContainer">
                  <button id="cNABtn" class="btn btn-default hvr-bounce-to-right-signIn moreSignInBtn">Create an account</button>
                </a>

                <a href="#!/forgotPassword" id="fMPBtnContainer">
                    <button class="btn btn-default hvr-bounce-to-left-signIn moreSignInBtn">Forgot your password?</button>
                </a>

        </div>

        <div class="row">

                <div class="rememberMe">

                    <span id="signin-message-alert"></span>

                </div>

        </div>
