body {
    background-color: black;
    color: white;
}

.navbar {
    height: 8%;
    opacity: 40%;
}

#homeBody {
    height: 800px;
    overflow-y: scroll;
    position: relative;
}

#home {
    height: 810px;
}

#aboutUs {
    background-color: white;
    height: 800px;
}

#bookALesson {
    height: 800px;
}

#contactUs {
    height: 800px;
    background-color: white;
}

#navLogo {
    float: left;
}

.navbar-brand {
    font-size: 26px;
    vertical-align: middle;
    height: inherit;
    line-height: 120%;
}

.navbarOptions {
    height: 63px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 170% !important;
}

.navbar-header {
/*    margin-right: 25% !important;*/
}

.extraLeft {
    margin-right: -20px;
}

.extraRight {
    margin-left: -17px;
}

.title {
    margin-top: 1%;
    text-align: center;
    font-size: 32px;
}

.calenderHeader {
    font-size: 26px;
    text-align: center;
}

.nextMonth {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.prevMonth {
    font-size: 30px;
    cursor: pointer;
}

.underline {
    border-bottom: 0.5px solid;
    border-bottom-color: white;
    padding-bottom: 0.5%;
}

#bookHeader {
    margin-top: 2%;
    margin: 2% 2% 0% 2%;
}

.calendarRow {
    margin: 0.5% 3% 0.5% 3%;
}

.dayName {
    width: 13%;
    text-align: center;
    margin: 0.6%;
    font-size: 18px;
}

.times {
    font-size: 14px;
}

.day {
    border: 1px solid white;
    padding: 5px;
    width: 13.4%;
    margin: 0.4%;
    font-size: 18px;
    height: 120px;
}

.dayInMonth {
    border: 1px solid white;
    padding: 5px;
    width: 13.4%;
    margin: 0.4%;
    font-size: 18px;
    height: 120px;
    cursor: pointer;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/*BookLessonModal
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.noResults {
    text-align: center;
    margin-bottom: 5%;
}

#windowCloseButtons {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
}

#windowCloseButtons:hover {
    color: red;
    -webkit-transition: color 500ms ease-out;
    -moz-transition: color 500ms ease-out;
    -ms-transition: color 500ms ease-out;
    -o-transition: color 500ms ease-out;
    transition: color 500ms ease-out;
}

.modal-title {
    color: black;
    text-align: center;
}

.details {
    color: black;
}

.modal-body {
    color: black;
}