html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

button:focus {
    outline: 0;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: black;
}

::-webkit-scrollbar-corner {
    background-color: inherit;
}

a.anchor {
    display: block;
    position: relative;
    top: -64px;
    visibility: hidden;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}


/*Create an Account
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#successfulRequest {
    display: none;
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    color: white;
}

#aCAlert {
    display: none;
}

#fNAlert {
    display: none;
}

#lNAlert {
    display: none;
}

#cUserIdAlert {
    display: none;
}

#cPasswordAlert {
    display: none;
}

#cCPasswordAlert {
    display: none;
}

#wCPasswordAlert {
    display: none;
}

#accessCode {
    display: none;
}

#btnGroupContainer {
    text-align: center;
}

.tOrSBtn {
    font-size: 22px;
    font-weight: 200;
}


/*Sign In
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.formInput {
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    border-radius: 15px !important;
}

#userId {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#password {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#signInButton {
    color: white;
    border: 4px solid #292928;
    outline: none;
    background: none;
    font-size: 22px;
    font-weight: 300;
    padding: 5px 10px 5px 10px;
}

#cAAButton {
    text-align: right;
    padding-right: 2%;
}

#fYPButton {
    padding-left: 2%;
}

#cbox {
    vertical-align: 3px;
    transform: scale(1.5);
    margin-left: 5%;
}

.rememberMe {
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 2%;
    color: white;
    font-weight: 200;
}

.alerts {
    float: right;
    font-weight: 200;
    font-size: 22px;
    color: red;
}

#userIdAlert {
    float: right;
    font-weight: 200;
    font-size: 22px;
    color: red;
}

#passwordAlert {
    float: right;
    font-weight: 200;
    font-size: 22px;
    color: red;
}


/*Home
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.navbar {
    height: 8%;
}

.navbar-inverse {
    background: rgba(34, 32, 0, 0.8);
}

.navbar-right {
    margin-right: 0px;
}

#signInNav {
    float: right;
}

#homeBody {
    overflow: hidden;
}

#home {
    height: 810px;
    background-image: url(img/212258-concert.jpg);
    background-size: 100% 100%;
}

#homeTitle {
    font-size: 52px;
    font-weight: 300;
    text-align: center;
    padding-top: 4%;
}

#aUHeader {
    border-bottom: 1px solid #536D99;
    height: 60px;
}

#aUTitle {
    color: black;
    font-size: 32px;
    font-weight: 300;
    padding: 1%;
}

#auDesc {
    color: black;
    font-size: 20px;
    font-weight: 300;
    margin-top: 1%;
}

#aUContent {
    padding-top: 1%;
}

#bALContent {
    padding-top: 2%;
}

#FOMBtnDiv {
    padding-left: 4%;
}

#BALBtnDiv {
    text-align: right;
    padding-right: 4%;
}

.homeButton {
    border: 4px solid #536D99;
    outline: none;
    background: none;
    font-size: 30px;
    font-weight: 300;
    padding: 5px 10px 5px 10px;
}

#aboutUs {
    background-color: white;
    height: 400px;
}

#bookALesson {
    height: 400px;
    background-image: url(img/maxresdefault.jpg);
    background-size: cover;
}

#bALHeader {
    border-bottom: 1px solid white;
    height: 60px;
}

#bALTitle {
    font-size: 32px;
    font-weight: 300;
    text-align: right;
    padding: 1%;
}

#bALDesc {
    font-size: 20px;
    font-weight: 300;
    padding-top: 1%;
}

#bALBtnContainer {
    text-align: center;
    padding-top: 11%;
}

#contactUs {
    height: 550px;
    background-color: white;
}

#navLogo {
    float: left;
}

.navbar-brand {
    font-size: 26px;
    vertical-align: middle;
    height: inherit;
    line-height: 120%;
    font-weight: 300;
}

.navbarOptions {
    height: 63px;
    font-size: 20px;
    vertical-align: middle;
    line-height: 170% !important;
    font-weight: 300;
    cursor: pointer;
}

#slack {
    text-align: center;
    color: black;
    font-size: 26px;
    font-weight: 300;
}


/*PurchaseLesson
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#successfulUpgrade {
    display: none;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    color: greenyellow;
}

#unsuccessfulUpgrade {
    display: none;
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    color: orangered;
}

#emptyLessons {
    font-size: 22px;
    text-align: center;
}

.lessonInfo {
    border: 2px solid white;
    border-radius: 15px;
    background-color: dimgrey;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}

.yourLessonInfo {
    border: 2px solid white;
    border-radius: 15px;
    background-color: dimgrey;
    padding: 5px 10px 5px 10px;
    font-size: 22px;
    margin-bottom: 2%;
}

.yourBookedLessonInfo {
    border: 2px solid lightgreen;
    border-radius: 15px;
    background-color: dimgrey;
    padding: 5px 10px 5px 10px;
    font-size: 22px;
    margin-bottom: 2%;
}

.reminders {
    width: 60%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 2%;
    color: white;
    font-weight: 200;
    font-size: 22px;
    text-align: center;
}

#bookButton {
    font-weight: 200;
    font-size: 22px;
    margin-top: 2%;
}


/*AddLesson
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#teacherNameAlert {
    float: right;
    font-weight: 200;
    font-size: 22px;
    color: red;
}

#dateAlert {
    float: right;
    font-weight: 200;
    font-size: 22px;
    color: red;
}

#timeAlert {
    float: right;
    font-weight: 200;
    font-size: 22px;
    color: red;
}

.addTitle {
    margin-top: 1%;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}

.formTitle {
    width: 60%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-weight: 200;
    font-size: 36px;
}

.addForm {
    width: 60%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
    font-weight: 200;
}

.inputTitle {
    font-weight: 200;
    font-size: 22px;
}

#teacherName {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#date {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#startTime {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

#building {
    -webkit-appearance: none;
    font-size: 18px;
    color: black;
    text-align: left;
    font-weight: 200;
    height: 44px;
    width: 100%;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 15px;
    padding-left: 16px;
}

.select2-results__option {
    color: black;
}

.select2-selection__arrow {
    top: 22% !important;
    margin-right: 7px;
}

.select2-container--default .select2-selection--single {
    height: 46px !important;
    font-size: 18px;
    padding: 7px;
    border-radius: 15px !important;
    outline: 0;
}

#submitLesson {
    float: right;
    font-size: 26px;
    font-weight: 200;
}

#room {
    -webkit-appearance: none;
    font-size: 18px;
    color: black;
    text-align: left;
    height: 44px;
    width: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-left: 16px;
}

.formDrop {
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


/*BookLesson
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.addLesson {
    float: left;
    color: white;
    font-size: 25px;
    margin: 25% 0% 0% 20%;
}

.addLesson:hover {
    color: green;
    -webkit-transition: color 500ms ease-out;
    -moz-transition: color 500ms ease-out;
    -ms-transition: color 500ms ease-out;
    -o-transition: color 500ms ease-out;
    transition: color 500ms ease-out;
}

.extraLeft {
    margin-right: -20px;
}

.extraRight {
    margin-left: -17px;
}

.title {
    margin-top: 1%;
    text-align: center;
    font-size: 32px;
    padding-left: 9%;
}

.calenderHeader {
    font-size: 26px;
    text-align: center;
}

.nextMonth {
    float: right;
    font-size: 30px;
    cursor: pointer;
}

.prevMonth {
    font-size: 30px;
    cursor: pointer;
}

.underline {
    border-bottom: 0.5px solid;
    border-bottom-color: white;
    padding-bottom: 0.5%;
}

#bookHeader {
    margin-top: 2%;
    margin: 2% 2% 0% 2%;
}

.calendarRow {
    margin: 0.5% 3% 0.5% 3%;
}

.dayName {
    width: 13%;
    text-align: center;
    margin: 0.6%;
    font-size: 18px;
}

.times {
    font-size: 14px;
}

.day {
    border: 1px solid white;
    padding: 5px;
    width: 13.4%;
    margin: 0.4%;
    font-size: 18px;
    height: 120px;
}

.dayInMonth {
    border: 1px solid white;
    padding: 5px;
    width: 13.4%;
    margin: 0.4%;
    font-size: 18px;
    height: 120px;
    cursor: pointer;
}

a {
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}


/*BookLessonModal
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.bottomBorder {
    border-bottom: 2px solid;
    border-bottom-color: grey;
    width: 95%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.timing {
    float: right;
    font-size: 14px;
}

.extraRightLesson {
    margin-left: -8px;
}

.bookLesson {
    float: right;
    font-size: 14px;
    cursor: pointer;
}

.extraTop {
    font-size: 20px;
}

.noResults {
    text-align: center;
    margin-bottom: 5%;
}

#windowCloseButtons {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    color: black;
    font-size: 20px;
}

#windowCloseButtons:hover {
    color: red;
    -webkit-transition: color 500ms ease-out;
    -moz-transition: color 500ms ease-out;
    -ms-transition: color 500ms ease-out;
    -o-transition: color 500ms ease-out;
    transition: color 500ms ease-out;
}

.modal-title {
    color: black;
    text-align: center;
}

.details {
    color: black;
}

.modal-body {
    color: black;
}


/*Animations
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*Bounce to right*/

.hvr-bounce-to-right-signIn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right-signIn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #292928;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right-signIn:hover,
.hvr-bounce-to-right-signIn:focus,
.hvr-bounce-to-right-signIn:active {
    color: white;
}

.hvr-bounce-to-right-signIn:hover:before,
.hvr-bounce-to-right-signIn:focus:before,
.hvr-bounce-to-right-signIn:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*Bounce to left*/

.hvr-bounce-to-left-signIn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-left-signIn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #292928;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-left-signIn:hover,
.hvr-bounce-to-left-signIn:focus,
.hvr-bounce-to-left-signIn:active {
    color: white;
}

.hvr-bounce-to-left-signIn:hover:before,
.hvr-bounce-to-left-signIn:focus:before,
.hvr-bounce-to-left-signIn:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*Bounce to top*/

.hvr-bounce-to-top-signIn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-top-signIn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #292928;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-top-signIn:hover,
.hvr-bounce-to-top-signIn:focus,
.hvr-bounce-to-top-signIn:active {
    color: white;
}

.hvr-bounce-to-top-signIn:hover:before,
.hvr-bounce-to-top-signIn:focus:before,
.hvr-bounce-to-top-signIn:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*Bounce to right*/

.hvr-bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #536D99;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
    color: white;
}

.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*Bounce to left*/

.hvr-bounce-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #536D99;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-left:hover,
.hvr-bounce-to-left:focus,
.hvr-bounce-to-left:active {
    color: white;
}

.hvr-bounce-to-left:hover:before,
.hvr-bounce-to-left:focus:before,
.hvr-bounce-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}


/*Bounce to top*/

.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #536D99;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-top:hover,
.hvr-bounce-to-top:focus,
.hvr-bounce-to-top:active {
    color: white;
}

.hvr-bounce-to-top:hover:before,
.hvr-bounce-to-top:focus:before,
.hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}