<div class="row">

    <div class="col-xs-12">

        <a href="#!/home">
            <p class="addTitle">KCL Guitar Society</p>
        </a>

    </div>

</div>

<div class="row">

    <div class="col-xs 12">

        <div class="formTitle">

            Reset Password

        </div>

    </div>

</div>

<div class="row">

    <div class="col-xs 12">

        <div class="addForm">

            <label class="inputTitle">New Password:</label>
            <label id="newPassAlert"></label>
            <div class="input-group input-group-lg" style="width: 100%;">
                <input ng-model="$ctrl.inNewPass" type="password" id="userId" class="form-control" placeholder="Enter new password" aria-describedby="New Password">
            </div>

        </div>

    </div>

</div>

<div class="row">

    <div class="col-xs 12">

        <div class="addForm">

            <label class="inputTitle">Confirm New Password:</label>
            <label id="cNewPassAlert"></label>
            <div class="input-group input-group-lg" style="width: 100%;">
                <input ng-model="$ctrl.inCNewPass" type="password" id="userId" class="form-control" placeholder="Re-enter new password" aria-describedby="Confirm new password">
            </div>

        </div>

    </div>

</div>

<div class="row">

    <div class="col-xs-12">

        <div class="rememberMe">

            <button id="signInButton" ng-click="$ctrl.resetPassword()" class="btn btn-default hvr-bounce-to-top-signIn">Reset Password</button>

        </div>

    </div>

</div>