<div class="row">

  <a href="#!/home">
    <p class="addTitle">KCL Guitar Society</p>
  </a>

</div>

<div class="row">

  <div class="row">

    <div class="formTitle">

      Your Lessons

    </div>

  </div>

  <div class="row">

    <div class="addForm">

      <div ng-if="$ctrl.emptyLessons" id="emptyLessons">You have no lessons booked at the moment.</div>

      <div ng-repeat="lesson in $ctrl.finalLessons">

        <div ng-if="lesson.StudentID == null" class="yourLessonInfo">

          <div class="row">

            <div class="col-sm-8">Teacher Name: {{lesson.TeacherName}}</div>
            <div class="col-sm-4">Time: {{lesson.niceDateS + " - " + lesson.niceDateE}}</div>

          </div>
          <div class="row timeInfo">

            <div class="col-sm-8">Location: {{lesson.Building + ", " + lesson.Room}}</div>
            <div class="col-sm-4">Date: {{lesson.Day + "/" + ($ctrl.monthsInAYear.indexOf(lesson.Month) + 1) + "/" + lesson.Year}}</div>

          </div>

        </div>

        <div ng-if="lesson.StudentID != null" class="yourBookedLessonInfo">

          <div class="row">

            <div class="col-sm-8">Teacher Name: {{lesson.TeacherName}}</div>
            <div class="col-sm-4">Time: {{lesson.niceDateS + " - " + lesson.niceDateE}}</div>

          </div>
          <div class="row timeInfo">

            <div class="col-sm-8">Location: {{lesson.Building + ", " + lesson.Room}}</div>
            <div class="col-sm-4">Date: {{lesson.Day + "/" + ($ctrl.monthsInAYear.indexOf(lesson.Month) + 1) + "/" + lesson.Year}}</div>

          </div>
          <div class="row timeInfo">

            <div class="col-sm-8">Student Name: {{lesson.StudentName}}</div>
          </div>

        </div>

      </div>
        
    </div>

  </div>

</div>
